gunicorn
blinker
Bottleneck
click
dash
Flask
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mkl-fft==1.3.6
mkl-random
mkl-service==2.4.0
numexpr
numpy
packaging
pandas==1.5.3
plotly
python-dateutil
pytz
six
tenacity
Werkzeug
zipp