gunicorn
blinker
Bottleneck
click
dash
Flask
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mkl-fft
mkl-random
mkl-service
numexpr
numpy
packaging
pandas
plotly
python-dateutil
pytz
six
tenacity
Werkzeug
zipp